### Answer No.01

In [3]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: trio~=0.17 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: outcome in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

 Download the web driver
from https://chromedriver.chromium.org/downloads

In [18]:
# first connect with the driver
driver=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [19]:
# open the naukari page on automated chrome browser
driver.get("https://www.naukri.com/")

In [20]:
# Entering designation and location as required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ") # find element is used to scrap only one element.
designation.send_keys('Data Analyst')

In [21]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input") # find element is used to scrap  one element.
location.send_keys('Bangalore')

In [22]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [23]:
job_title=[]
job_location=[]
experience_required=[]
company_name=[]

In [31]:
# scraping the Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]') # find elements is used to scrap more than one element.# Relative XPATH
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)  # //tag[@class='class name']
    
# scraping the Job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]') # find elements is used to scrap more than one element.
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping the company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]') # find elements is used to scrap more than one element.
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping the experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]') # find elements is used to scrap more than one element.
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [32]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

40 40 20 20

In [41]:
a=job_title[0:10]
a

['Data Analyst',
 'Data Analyst',
 'Data Analyst Databricks',
 'Data Analyst',
 'Data Analyst',
 'Required Data Analyst Off Role',
 'Data Analyst | Google App Script',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [42]:
b=job_location[0:10]
b

['Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [43]:
c=company_name[0:10]
c

['Entrupy',
 'EY',
 'Optum',
 'Allegis Group',
 'Excellence And Eminence Llp',
 'TeamLease',
 'Webengage',
 'Staffice Global',
 'Qualitest',
 'What Digital Technologies']

In [44]:
d=experience_required[0:10]
d

['1-3 Yrs',
 '5-10 Yrs',
 '4-6 Yrs',
 '4-7 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '14-18 Yrs',
 '5-8 Yrs',
 '5-10 Yrs']

In [45]:
df=pd.DataFrame({'Title':a,'Location':b,'Company Name':c,'Experience':d})
df

,Title,Location,Company Name,Experience
0,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
1,Data Analyst,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",EY,5-10 Yrs
2,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
3,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,4-7 Yrs
4,Data Analyst,Bangalore/Bengaluru,Excellence And Eminence Llp,2-5 Yrs
5,Required Data Analyst Off Role,Bangalore/Bengaluru,TeamLease,3-5 Yrs
6,Data Analyst | Google App Script,"Bangalore/Bengaluru, Mumbai",Webengage,3-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,Staffice Global,14-18 Yrs
8,Data Analyst,Bangalore/Bengaluru,Qualitest,5-8 Yrs
9,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs

### Answer No.02

In [4]:
# first connect with the driver
driver2=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [6]:
driver2.get("https://www.naukri.com/")

In [7]:
designation2=driver2.find_element(By.CLASS_NAME,"suggestor-input ") # find element is used to scrap only one element.
designation2.send_keys('Data Scientist')

In [8]:
location2=driver2.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input") # find element is used to scrap  one element.
location2.send_keys('Bangalore')

In [9]:
search2=driver2.find_element(By.CLASS_NAME,"qsbSubmit")
search2.click()

In [10]:
job_title2=[]
job_location2=[]
experience_required2=[]
company_name2=[]

In [11]:
# scraping the Job title from the given page
title_tags2=driver2.find_elements(By.XPATH,'//a[@class="title ellipsis"]') # find elements is used to scrap more than one element.# Relative XPATH
for i in title_tags2[0:10]:
    title2=i.text
    job_title2.append(title2)  # //tag[@class='class name']
    
# scraping the Job location from the given page
location_tags2=driver2.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]') # find elements is used to scrap more than one element.
for i in location_tags2[0:10]:
    location2=i.text
    job_location2.append(location2)
    
# scraping the company name from the given page
company_tags2=driver2.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]') # find elements is used to scrap more than one element.
for i in company_tags2[0:10]:
    company2=i.text
    company_name2.append(company2)
    
# scraping the experience from the given page
experience_tags2=driver2.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]') # find elements is used to scrap more than one element.
for i in experience_tags2[0:10]:
    experience2=i.text
    experience_required2.append(experience2)

In [12]:
print(len(job_title2),len(job_location2),len(company_name2),len(experience_required2))

10 10 10 10

In [13]:
df2=pd.DataFrame({'Title':job_title2,'Location':job_location2,'Company Name':company_name2,'Experience':experience_required2})
df2

,Title,Location,Company Name,Experience
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant,8-10 Yrs
3,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS),7-12 Yrs
4,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini,9-14 Yrs
5,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft,8-12 Yrs
6,Data Scientist,"Bangalore/Bengaluru, Noida, Indore, Pune, Gurg...",Impetus Technologies,4-8 Yrs
7,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited,8-10 Yrs
8,Sr. Data Scientist,Bangalore/Bengaluru,Visa,4-8 Yrs
9,Data Scientist Architect,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Brace Infotech,11-20 Yrs

### Answer No.03

In [26]:
# first connect with the driver
driver3=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32 (3)\chromedriver.exe")# first connect with the driver

In [27]:
driver3.get("https://www.naukri.com/")

In [28]:
designation3=driver3.find_element(By.CLASS_NAME,"suggestor-input ") # find element is used to scrap only one element.
designation3.send_keys('Data Scientist')

In [29]:
location3=driver3.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input") # find element is used to scrap  one element.# Absolute XPATH
location3.send_keys('Delhi/NCR')

In [30]:
search3=driver3.find_element(By.CLASS_NAME,"qsbSubmit")
search3.click()

In [40]:
salary_range3=driver3.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[1]/div[2]/div[2]/label/p/span[1]") # find element is used to scrap only one element.
salary_range3.click()

In [35]:
job_title3=[]
job_location3=[]
experience_required3=[]
company_name3=[]

In [41]:
# scraping the Job title from the given page
title_tags3=driver3.find_elements(By.XPATH,'//a[@class="title ellipsis"]') # find elements is used to scrap more than one element.# Relative XPATH
for i in title_tags3[0:10]:
    title3=i.text
    job_title3.append(title3)  # //tag[@class='class name']
    
# scraping the Job location from the given page
location_tags3=driver3.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]') # find elements is used to scrap more than one element.
for i in location_tags3[0:10]:
    location3=i.text
    job_location3.append(location3)
    
# scraping the company name from the given page
company_tags3=driver3.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]') # find elements is used to scrap more than one element.
for i in company_tags3[0:10]:
    company3=i.text
    company_name3.append(company3)
    
# scraping the experience from the given page
experience_tags3=driver3.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]') # find elements is used to scrap more than one element.
for i in experience_tags3[0:10]:
    experience3=i.text
    experience_required3.append(experience3)

In [42]:
print(len(job_title3),len(job_location3),len(company_name3),len(experience_required3))

20 20 20 20

In [43]:
j=job_title3[0:10]
j

['Data Scientist',
 'Data Science Specialist',
 'Analystics & Modeling Specialist',
 'Sr. Data scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Expert Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist Architect']

In [44]:
jl=job_location3[0:10]
jl

['Hybrid - Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Noida, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Noida, Indore, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Temp. WFH - Hyderabad/Secunderabad, Bangalore/Bengaluru']

In [45]:
cn=company_name3[0:10]
cn

['Cognizant',
 'Accenture',
 'Accenture',
 'Tata Consultancy Services (TCS)',
 'Capgemini',
 'Birlasoft',
 'Impetus Technologies',
 'UPL Limited',
 'Visa',
 'Brace Infotech']

In [46]:
er=experience_required3[0:10]
er

['8-10 Yrs',
 '2-4 Yrs',
 '6-8 Yrs',
 '7-12 Yrs',
 '9-14 Yrs',
 '8-12 Yrs',
 '4-8 Yrs',
 '8-10 Yrs',
 '4-8 Yrs',
 '11-20 Yrs']

In [47]:
df3=pd.DataFrame({'Title':j,'Location':jl,'Company Name':cn,'Experience':er})
df3

,Title,Location,Company Name,Experience
0,Data Scientist,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Cognizant,8-10 Yrs
1,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
3,Sr. Data scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Tata Consultancy Services (TCS),7-12 Yrs
4,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",Capgemini,9-14 Yrs
5,Lead Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft,8-12 Yrs
6,Data Scientist,"Noida, Indore, Pune, Gurgaon/Gurugram, Bangalo...",Impetus Technologies,4-8 Yrs
7,Expert Data Scientist,"Mumbai, Bangalore/Bengaluru",UPL Limited,8-10 Yrs
8,Sr. Data Scientist,Bangalore/Bengaluru,Visa,4-8 Yrs
9,Data Scientist Architect,"Temp. WFH - Hyderabad/Secunderabad, Bangalore/...",Brace Infotech,11-20 Yrs

### Answer No.04

In [3]:
# first connect with the driver
driver4=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32 (3)\chromedriver.exe")# first connect with the driver

In [4]:
driver4.get("http://www.flipkart.com/")

In [6]:
product_name4=driver4.find_element(By.CLASS_NAME,"_3704LK") # find element is used to scrap only one element.
product_name4.send_keys('Sunglasses')

In [7]:
search4=driver4.find_element(By.CLASS_NAME,"L0Z3Pu")
search4.click()

In [27]:
brand_names=[]
start=1
end=4
for page4 in range(start,end):
    names=driver4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for bn in names:
        brand_names.append(bn.text)
    next_button4=driver4.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button4.click()
    time.sleep(3) # It gives the time of 3 sec to the page for the loading

In [28]:
len(brand_names)

120

In [32]:
sbn=brand_names[0:100]
sbn

['PHENOMENAL',
 'NuVew',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'NuVew',
 'NuVew',
 'Fastrack',
 'VINCENT CHASE',
 'SUNBEE',
 'VINCENT CHASE',
 'SUNBEE',
 'VINCENT CHASE',
 'PIRASO',
 'PIRASO',
 'SKYZA INDIA',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'kingsunglasses',
 'GANSTA',
 'VINCENT CHASE',
 'PIRASO',
 'Rich Club',
 'Sewell',
 'OAKLEY',
 'Elligator',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'OAKLEY',
 'VINCENT CHASE',
 'Fastrack',
 'PIRASO',
 'OAKLEY',
 'ROZZETTA CRAFT',
 'PIRASO',
 'VINCENT CHASE',
 'OAKLEY',
 'kingsunglasses',
 'Fastrack',
 'ROZZETTA CRAFT',
 'OAKLEY',
 'PHENOMENAL',
 'NuVew',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'NuVew',
 'NuVew',
 'Fastrack',
 'VINCENT CHASE',
 'SUNBEE',
 'VINCENT CHASE',
 'SUNBEE',
 'VINCENT CHASE',
 'PIRASO',
 'PIRASO',
 'SKYZA INDIA',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'kingsunglasses',
 'GANSTA',
 'VINCENT CHASE',
 'PIRASO',
 'Rich Club',
 'Sewell',
 'OAKLEY',
 'Elligator',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'OAKLEY',
 'VINCENT CHASE',
 'Fastrack',
 'PIRASO',
 'OAKLEY',
 'ROZZETTA CRAFT',
 'PIRASO',
 'VINCENT CHASE',
 'OAKLEY',
 'kingsunglasses',
 'Fastrack',
 'ROZZETTA CRAFT',
 'OAKLEY',
 'PHENOMENAL',
 'NuVew',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'NuVew',
 'NuVew',
 'Fastrack',
 'VINCENT CHASE',
 'SUNBEE',
 'VINCENT CHASE',
 'SUNBEE',
 'VINCENT CHASE',
 'PIRASO',
 'PIRASO',
 'SKYZA INDIA',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'kingsunglasses',
 'GANSTA',
 'VINCENT CHASE']

In [33]:
len(sbn)

100

In [34]:
brand_description=[]
start=1
end=4
for page5 in range(start,end):
    names5=driver4.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for bd in names5:
        brand_description.append(bd.text)
    next_button5=driver4.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button5.click()
    time.sleep(3) # It gives the time of 3 sec to the page for the loading

In [35]:
len(brand_description)

120

In [36]:
sbd=brand_description[0:100]
sbd

['UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection Sports Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Retro Square, Rectangular, Over-sized Sun...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Retro Square Sunglasses (54)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'Rectangular Sunglass',
 'UV Protection Retro Square, Aviator Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'Shield Sunglass',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Rectangular Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Rectangular Sunglass',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Wayfarer Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Rectangular Sunglass',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Rectangular Sunglass',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection Sports Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Retro Square, Rectangular, Over-sized Sun...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Retro Square Sunglasses (54)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'Rectangular Sunglass',
 'UV Protection Retro Square, Aviator Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'Shield Sunglass',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Rectangular Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Rectangular Sunglass',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Wayfarer Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Rectangular Sunglass',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Rectangular Sunglass',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection Sports Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Retro Square, Rectangular, Over-sized Sun...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...']

In [37]:
len(sbd)

100

In [38]:
brand_price=[]
start=1
end=4
for page6 in range(start,end):
    names6=driver4.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for bp in names6:
        brand_price.append(bp.text)
    next_button6=driver4.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button6.click()
    time.sleep(3) # It gives the time of 3 sec to the page for the loading

In [39]:
len(brand_price)

120

In [40]:
sbp=brand_price[0:100]
sbp

['179',
 '125',
 '269',
 '649',
 '99',
 '99',
 '619',
 '829',
 '185',
 '690',
 '273',
 '999',
 '212',
 '290',
 '277',
 '391',
 '799',
 '194',
 '299',
 '999',
 '342',
 '274',
 '281',
 '6,059',
 '249',
 '799',
 '929',
 '7,029',
 '664',
 '639',
 '214',
 '7,649',
 '499',
 '211',
 '799',
 '6,065',
 '281',
 '749',
 '377',
 '9,669',
 '179',
 '125',
 '269',
 '649',
 '99',
 '99',
 '619',
 '829',
 '185',
 '690',
 '273',
 '999',
 '212',
 '290',
 '277',
 '391',
 '799',
 '194',
 '299',
 '999',
 '342',
 '274',
 '281',
 '6,059',
 '249',
 '799',
 '929',
 '7,029',
 '664',
 '639',
 '214',
 '7,649',
 '499',
 '211',
 '799',
 '6,065',
 '281',
 '749',
 '377',
 '9,669',
 '179',
 '125',
 '269',
 '649',
 '99',
 '99',
 '619',
 '829',
 '185',
 '690',
 '273',
 '999',
 '212',
 '290',
 '277',
 '391',
 '799',
 '194',
 '299',
 '999']

In [41]:
len(sbp)

100

In [42]:
brand_discount=[]
start=1
end=4
for page7 in range(start,end):
    names7=driver4.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for spbd in names7:
        brand_discount.append(spbd.text)
    next_button7=driver4.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button7.click()
    time.sleep(3) # It gives the time of 3 sec to the page for the loading

In [43]:
len(brand_discount)

120

In [44]:
sbd100=brand_discount[0:100]
sbd100

['82% off',
 '83% off',
 '73% off',
 '74% off',
 '88% off',
 '88% off',
 '31% off',
 '58% off',
 '81% off',
 '65% off',
 '78% off',
 '50% off',
 '86% off',
 '88% off',
 '76% off',
 '80% off',
 '60% off',
 '80% off',
 '85% off',
 '50% off',
 '86% off',
 '60% off',
 '81% off',
 '12% off',
 '87% off',
 '60% off',
 '62% off',
 '20% off',
 '66% off',
 '20% off',
 '86% off',
 '11% off',
 '75% off',
 '86% off',
 '60% off',
 '19% off',
 '81% off',
 '25% off',
 '81% off',
 '20% off',
 '82% off',
 '83% off',
 '73% off',
 '74% off',
 '88% off',
 '88% off',
 '31% off',
 '58% off',
 '81% off',
 '65% off',
 '78% off',
 '50% off',
 '86% off',
 '88% off',
 '76% off',
 '80% off',
 '60% off',
 '80% off',
 '85% off',
 '50% off',
 '86% off',
 '60% off',
 '81% off',
 '12% off',
 '87% off',
 '60% off',
 '62% off',
 '20% off',
 '66% off',
 '20% off',
 '86% off',
 '11% off',
 '75% off',
 '86% off',
 '60% off',
 '19% off',
 '81% off',
 '25% off',
 '81% off',
 '20% off',
 '82% off',
 '83% off',
 '73% off',
 '74% off',
 '88% off',
 '88% off',
 '31% off',
 '58% off',
 '81% off',
 '65% off',
 '78% off',
 '50% off',
 '86% off',
 '88% off',
 '76% off',
 '80% off',
 '60% off',
 '80% off',
 '85% off',
 '50% off']

In [45]:
len(sbd100)

100

In [46]:
df4=pd.DataFrame({'Brand':sbn,'Product Description':sbd,'Price':sbp,'Discount':sbd100})
df4

,Brand,Product Description,Price,Discount
0,PHENOMENAL,UV Protection Retro Square Sunglasses (53),179,82% off
1,NuVew,UV Protection Aviator Sunglasses (57),125,83% off
2,kingsunglasses,UV Protection Retro Square Sunglasses (Free Size),269,73% off
3,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),649,74% off
4,NuVew,"UV Protection, Mirrored Wayfarer Sunglasses (58)",99,88% off
...,...,...,...,...
95,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",391,80% off
96,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",799,60% off
97,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),194,80% off
98,GANSTA,"Gradient, UV Protection Aviator Sunglasses (57)",299,85% off
99,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",999,50% off

### Answer No.05

In [125]:
# first connect with the driver
driver5=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32 (3)\chromedriver.exe")# first connect with the driver

In [126]:
driver5.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [115]:
phone_rating=[]
start=1
end=13
for page71 in range(start,end):
    names71=driver5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for spbd71 in names71:
        phone_rating.append(spbd71.text)
    next_button71=driver5.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button71.click()
    time.sleep(3) # It gives the time of 3 sec to the page for the loading

In [116]:
len(phone_rating)

120

In [117]:
pr=phone_rating[0:100]
pr

['5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4']

In [118]:
len(pr)

100

In [121]:
phone_review=[]
start=1
end=13
for page72 in range(start,end):
    names72=driver5.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for spbd72 in names72:
        phone_review.append(spbd72.text)
    next_button72=driver5.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button72.click()
    time.sleep(3) # It gives the time of 3 sec to the page for the loading

In [122]:
len(phone_review)

120

In [123]:
pre=phone_review[0:100]
pre

['Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Highly recommended',
 'Pretty good',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Value-for-money',
 'Perfect product!',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Highly recommended',
 'Pretty good',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Value-for-money',
 'Perfect product!',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Highly recommended',
 'Pretty good',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Value-for-money',
 'Perfect product!',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Highly recommended',
 'Pretty good',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Value-for-money',
 'Perfect product!',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!',
 'Simply awesome',
 'Perfect product!',
 'Value-for-money',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Highly recommended',
 'Great product',
 'Pretty good',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Value-for-money',
 'Perfect product!',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!']

In [124]:
len(pre)

100

In [127]:
phone_full_review=[]
start=1
end=13
for page73 in range(start,end):
    names73=driver5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for spbd73 in names73:
        phone_full_review.append(spbd73.text)
    next_button73=driver5.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button73.click()
    time.sleep(3) # It gives the time of 3 sec to the page for the loading

In [128]:
len(phone_full_review)

120

In [129]:
pfr=phone_full_review[0:100]
pfr

['Really satisfied with the Product I received... Its totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation  I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display its somewhere between 720-1080 and its not even an amoled its an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd its just wow',
 'Amazing Powerful and Durable Gadget.\n\nIm am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDont think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nIve attached my puppy pics and no fi...\nREAD MORE',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'Its a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise its amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'So far its been an AMAZING experience coming back to iOS after nearly a decade but its not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....",
 'Value for money\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best Ive ever had. Sound quality of speakers is more than sufficient. Apple is known for its customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Really satisfied with the Product I received... Its totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation  I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display its somewhere between 720-1080 and its not even an amoled its an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd its just wow',
 'Amazing Powerful and Durable Gadget.\n\nIm am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDont think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nIve attached my puppy pics and no fi...\nREAD MORE',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'Its a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise its amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'So far its been an AMAZING experience coming back to iOS after nearly a decade but its not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....",
 'Value for money\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best Ive ever had. Sound quality of speakers is more than sufficient. Apple is known for its customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Really satisfied with the Product I received... Its totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation  I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display its somewhere between 720-1080 and its not even an amoled its an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd its just wow',
 'Amazing Powerful and Durable Gadget.\n\nIm am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDont think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nIve attached my puppy pics and no fi...\nREAD MORE',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Really satisfied with the Product I received... Its totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation  I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display its somewhere between 720-1080 and its not even an amoled its an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd its just wow',
 'Amazing Powerful and Durable Gadget.\n\nIm am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDont think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nIve attached my puppy pics and no fi...\nREAD MORE',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',

In [130]:
len(pfr)

100

In [132]:
df5=pd.DataFrame({'Rating':pr,'Review summary':pre,'Full review':pfr})
df5

,Rating,Review summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,I'm Really happy with the product\nDelivery wa...
3,5,Value-for-money,Great iPhone very snappy experience as apple k...
4,4,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Value-for-money,Previously I was using one plus 3t it was a gr...
96,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
97,5,Highly recommended,What a camera .....just awesome ..you can feel...
98,5,Highly recommended,Amazing Powerful and Durable Gadget.\n\nIm am...
99,4,Perfect product!,I was using Iphone 6s and also Oneplus 6t. Bot...

### Answer No.06

In [51]:
# first connect with the driver
driver6=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32 (3)\chromedriver.exe")# first connect with the driver

In [52]:
driver6.get("http://www.flipkart.com/")

In [53]:
brand_name20=driver6.find_element(By.CLASS_NAME,"_3704LK") # find element is used to scrap only one element.
brand_name20.send_keys('sneakers')

In [54]:
search6=driver6.find_element(By.CLASS_NAME,"L0Z3Pu")
search6.click()

In [55]:
sneakers_brand_names=[]
start=1
end=4
for page10 in range(start,end):
    names10=driver6.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for sbn10 in names10:
        sneakers_brand_names.append(sbn10.text)
    next_button10=driver6.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button10.click()
    time.sleep(3) # It gives the time of 3 sec to the page for the loading

In [56]:
len(sneakers_brand_names)

120

In [57]:
sbn11=sneakers_brand_names[0:100]
sbn11

['HOTSTYLE',
 'HOTSTYLE',
 'SFR',
 'BIRDE',
 'BIRDE',
 'BIRDE',
 'Shozie',
 'Bacan',
 'SFR',
 'Sparx',
 'PUMA',
 'RapidBox',
 'BRUTON',
 'BIRDE',
 'BIRDE',
 'aadi',
 'Kraasa',
 'Kraasa',
 'Shozie',
 'Nilatin',
 'aadi',
 'BIRDE',
 'BERSACHE',
 'RapidBox',
 'PUMA',
 'Layasa',
 'BIRDE',
 'aadi',
 'BIRDE',
 'asian',
 'Shozie',
 'aadi',
 'BRUTON',
 'asian',
 'Shozie',
 'aadi',
 'Asian Shoes',
 'HRX by Hrithik Roshan',
 'Layasa',
 'PUMA',
 'asian',
 'BIRDE',
 'BIRDE',
 'HOTSTYLE',
 'aadi',
 'Kraasa',
 'ADIDAS',
 'HOTSTYLE',
 'Layasa',
 'asian',
 'BIRDE',
 'Bacan',
 'Layasa',
 'BIRDE',
 'BIRDE',
 'Zixer',
 'aadi',
 'aadi',
 'BIRDE',
 'RapidBox',
 'Sparx',
 'Layasa',
 'Sparx',
 'aadi',
 'SFR',
 'bacca bucci',
 'Shozie',
 'Nilatin',
 'Layasa',
 'PUMA',
 'Layasa',
 'RapidBox',
 'BIRDE',
 'ORICUM',
 'Kraasa',
 'aadi',
 'BIRDE',
 'BIRDE',
 'Sparx',
 'aadi',
 'aadi',
 'RapidBox',
 'SFR',
 'BIRDE',
 'BIRDE',
 'BIRDE',
 'Shozie',
 'Bacan',
 'SFR',
 'Sparx',
 'PUMA',
 'BIRDE',
 'BRUTON',
 'BIRDE',
 'BIRDE',
 'Shozie',
 'Kraasa',
 'Kraasa',
 'Shozie',
 'bacca bucci']

In [58]:
len(sbn11)

100

In [60]:
sneakers_brand_description=[]
start=1
end=4
for page11 in range(start,end):
    names11=driver6.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for sbn90 in names11:
        sneakers_brand_description.append(sbn90.text)
    next_button90=driver6.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button90.click()
    time.sleep(3) # It gives the time of 3 sec to the page for the loading

In [61]:
len(sneakers_brand_description)

120

In [62]:
sbd90=sneakers_brand_description[0:100]
sbd90

['Skypee-33 White Shoes Sneakers For Men',
 'Combo Pack of 2 Casual Shoe Sneakers For Men',
 'Trendy Casual Shoe For Men Pack Of 2 Sneakers For Men',
 'Exclusive dancing sneaker For Boys||Funky dancing sneak...',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'STREET ICON M Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Sneakers For Women',
 'WATERPROOF-05cFULLWHITE Sneakers For Men',
 'Premium White Casual Shoes Sneakers For Men Sneakers Fo...',
 'Sneakers For Men',
 'Sneakers For Women',
 'Combo Pack of 2 Premium Sports Shoes Sneakers For Women',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Stylish & Trendy Sneakers For Men',
 'SM-406 Sneakers For Men',
 'Stylish Casual Sports Shoe Sneakers For Women',
 'Men SM-406 Black Sneakers For Men',
 'Softride Premier Slip-On Sneakers For Men',
 'PLANCK Smart Grey Lace-Ups Casuals Sneakers Sneakers Fo...',
 "BALANCER Men's Fashion Sneakers Lace-Up Trainers Basket...",
 'Sneakers For Women',
 'Sneakers For Women',
 'Sneakers For Women',
 'Brisk FR Sneakers For Men',
 'Stylish Casual Sports Shoe outdoor Sneakers For Women',
 'Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Oricum Casual Shoes Walking ,Sneakers Canvas casual sho...',
 'Sneakers For Women',
 'Sneakers For Men',
 'Sneakers For Women',
 'Stylish Comfortable Lightweight, Breathable Women Shoes...',
 'Men SM-406 Grey Sneakers For Men',
 'Sneakers For Men',
 'CR-1 Sneakers For Men',
 'CR-1 Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Women',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Stylish Sneakers Shoes for Women And Girls Sneakers For...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Neptune Sneakers For Men',
 'Sneakers For Men',
 'Canvas shoes for Men Sneakers For Men',
 'Premium Sports Shoes For Men Pack Of 2 Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Sneakers For Women',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Stylish Walking Partywear Sneakers Casual Shoes Sneaker...',
 'Numenzo White Canvas Sneaker For Men Sneakers For Women',
 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Combo pack of 2 casual shoes for men Sneakers For Men',
 'Sneakers For Men',
 'Puma x 1DER Jack V3 Sneakers For Men',
 'Casual Sneakers White Shoes For Girls And Sneakers For ...',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Mesh| Ultralightweight| Premiun| Comfort| Summer Tendy|...',
 'Trendy And Stylish New Design Casual Shoe For Men Pack ...',
 'Trendy-21 White Girls Casuals,Loafers,Stylish Color Cha...',
 'Women Sneakers Casual Shoes Sneakers For Women',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'WATERPROOF-05cFULLBLACK Sneakers For Men',
 'Sneakers For Women',
 'Mesh| Ultralightweight| Premiun| Comfort| Summer Tendy|...',
 'Future-04 casual shoes for men | Latest Stylish Casual ...',
 'Sneakers For Men',
 'Sneakers For Women',
 'RS-X WH Sneakers For Women',
 'Skypee-33 White Shoes Sneakers For Men',
 'Combo Pack of 2 Casual Shoe Sneakers For Men',
 'Trendy Casual Shoe For Men Pack Of 2 Sneakers For Men',
 'Exclusive dancing sneaker For Boys||Funky dancing sneak...',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'STREET ICON M Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Sneakers For Women',
 'WATERPROOF-05cFULLWHITE Sneakers For Men',
 'Premium White Casual Shoes Sneakers For Men Sneakers Fo...',
 'Sneakers For Men',
 'Sneakers For Women',
 'Combo Pack of 2 Premium Sports Shoes Sneakers For Women',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Stylish & Trendy Sneakers For Men']

In [63]:
len(sbd90)

100

In [64]:
sneakers_brand_price=[]
start=1
end=4
for page12 in range(start,end):
    names12=driver6.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for sbn91 in names12:
        sneakers_brand_price.append(sbn91.text)
    next_button91=driver6.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button91.click()
    time.sleep(3) # It gives the time of 3 sec to the page for the loading

In [65]:
len(sneakers_brand_price)

120

In [66]:
sbp91=sneakers_brand_price[0:100]
sbp91

['258',
 '258',
 '289',
 '499',
 '199',
 '499',
 '374',
 '513',
 '239',
 '524',
 '1,439',
 '373',
 '249',
 '499',
 '499',
 '563',
 '299',
 '499',
 '389',
 '606',
 '399',
 '299',
 '549',
 '399',
 '1,598',
 '389',
 '299',
 '479',
 '449',
 '699',
 '373',
 '567',
 '499',
 '649',
 '388',
 '399',
 '449',
 '1,023',
 '299',
 '2,999',
 '499',
 '499',
 '499',
 '513',
 '399',
 '499',
 '1,943',
 '634',
 '389',
 '649',
 '399',
 '606',
 '389',
 '499',
 '299',
 '373',
 '399',
 '373',
 '499',
 '563',
 '699',
 '389',
 '734',
 '606',
 '219',
 '1,499',
 '374',
 '399',
 '439',
 '1,619',
 '439',
 '479',
 '499',
 '299',
 '299',
 '399',
 '229',
 '299',
 '874',
 '2,999',
 '258',
 '258',
 '289',
 '499',
 '199',
 '239',
 '499',
 '399',
 '374',
 '524',
 '249',
 '399',
 '1,439',
 '499',
 '299',
 '567',
 '499',
 '499',
 '399',
 '606']

In [67]:
len(sbp91)

100

In [68]:
df6=pd.DataFrame({'Brand':sbn11,'Product Description':sbd90,'Price':sbp91})
df6

          Brand                                Product Description Price
0      HOTSTYLE             Skypee-33 White Shoes Sneakers For Men  258
1      HOTSTYLE       Combo Pack of 2 Casual Shoe Sneakers For Men  258
2           SFR  Trendy Casual Shoe For Men Pack Of 2 Sneakers ...  289
3         BIRDE  Exclusive dancing sneaker For Boys||Funky danc...  499
4         BIRDE                                   Sneakers For Men  199
..          ...                                                ...   ...
95       Shozie  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...  567
96       Kraasa  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...  499
97       Kraasa  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...  499
98       Shozie      Combo Pack of 2 Casual Shoes Sneakers For Men  399
99  bacca bucci                  Stylish & Trendy Sneakers For Men  606

[100 rows x 3 columns]

### Answer No.07

In [15]:
# first connect with the driver
driver7=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32 (3)\chromedriver.exe")# first connect with the driver

In [16]:
driver7.get("https://www.amazon.in/")

In [22]:
laptops=driver7.find_element(By.ID,"twotabsearchtextbox") # find element is used to scrap only one element.
laptops.send_keys('Laptop')

In [23]:
search7=driver7.find_element(By.ID,"nav-search-submit-button")
search7.click()

In [34]:
cpu=driver7.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/li[10]/span/a/div/label/i') 
cpu.click()

In [35]:
laptop_title=[]
laptop_rating=[]
laptop_price=[]

In [36]:
laptop_title_tags=driver7.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]') # find elements is used to scrap more than one element.# Relative XPATH
for i in laptop_title_tags[0:10]:
    title=i.text
    laptop_title.append(title)  # //tag[@class='class name']
    

laptop_rating_tags=driver7.find_elements(By.XPATH,'//span[@class="a-size-base"]') # find elements is used to scrap more than one element.
for i in laptop_rating_tags[0:10]:
    rating=i.text
    laptop_rating.append(rating)
    

laptop_price_tags=driver7.find_elements(By.XPATH,'//span[@class="a-price-whole"]') # find elements is used to scrap more than one element.
for i in laptop_price_tags[0:10]:
    price=i.text
    laptop_price.append(price)

In [37]:
print(len(laptop_title),len(laptop_rating),len(laptop_price))

10 10 10

In [38]:
df7=pd.DataFrame({'Title':laptop_title,'Ratings':laptop_rating,'Price':laptop_price})
df7

                                               Title Ratings     Price
0  Sponsored\nFujitsu UH-X 11th Gen Intel Core i7...     4.3    89,990
1  Sponsored\nLenovo Legion 5 Intel Core i7 11th ...     2.9  1,17,990
2  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...     4.1    56,990
3  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...     4.2    82,990
4  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...     4.1    65,250
5  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...     4.0    94,490
6  (Renewed) Dell Latitude E7470 Intel Core i7 6t...     4.0    29,499
7  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...     4.0    82,990
8  HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...     4.4    92,500
9  Dell Inspiron 5320 Laptop, Intel i7-1260P, 16G...     3.3    84,918

### Answer No.08

In [65]:
# first connect with the driver
driver8=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32 (3)\chromedriver.exe")# first connect with the driver

In [66]:
driver8.get("http://www.azquotes.com/")

In [67]:
quotes=driver8.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a') 
quotes.click()

In [53]:
scraped_quotes=[]
start=1
end=10
for page80 in range(start,end):
    names80=driver8.find_elements(By.XPATH,'//a[@class="title"]')
    for sbn80 in names80:
        scraped_quotes.append(sbn80.text)
    next_button80=driver8.find_element(By.XPATH,'//li[@class="next"]')
    next_button80.click()
    time.sleep(3) # It gives the time of 3 sec to the page for the loading

In [54]:
len(scraped_quotes)

900

In [63]:
scraped_authors=[]
start=1
end=10
for page81 in range(start,end):
    names81=driver8.find_elements(By.XPATH,'//div[@class="author"]')
    for sbn81 in names81:
        scraped_authors.append(sbn81.text)
    next_button81=driver8.find_element(By.XPATH,'//li[@class="next"]')
    next_button81.click()
    time.sleep(3) # It gives the time of 3 sec to the page for the loading

In [64]:
len(scraped_authors)

900

In [68]:
scraped_type=[]
start=1
end=10
for page82 in range(start,end):
    names82=driver8.find_elements(By.XPATH,'//div[@class="tags"]')
    for sbn82 in names82:
        scraped_type.append(sbn82.text)
    next_button82=driver8.find_element(By.XPATH,'//li[@class="next"]')
    next_button82.click()
    time.sleep(3) # It gives the time of 3 sec to the page for the loading

In [69]:
len(scraped_type)

900

In [70]:
df8=pd.DataFrame({'Quote':scraped_quotes,'Author':scraped_authors,'Type Of Quotes':scraped_type})
df8

,Quote,Author,Type Of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
895,To love means loving the unlovable. To forgive...,Gilbert K. Chesterton,"Love, Inspirational, Success"
896,"If you really want to do something, you'll fin...",Jim Rohn,"Inspirational, Motivational, Success"
897,Be brave. Take risks. Nothing can substitute e...,Paulo Coelho,"Encouraging, Courage, Inspiration"
898,It is neither wealth nor splendor; but tranqui...,Thomas Jefferson,"Life, Happiness, Work"
899,A thousand words will not leave so deep an imp...,Henrik Ibsen,"Inspirational, Inspiring, Positivity"

### Answer No.09

In [5]:
# first connect with the driver
driver9=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32 (3)\chromedriver.exe")# first connect with the driver

In [6]:
driver9.get("http://www.jagranjosh.com/")

In [7]:
gk=driver9.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a') 
gk.click()

In [9]:
iap=driver9.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a') 
iap.click()

In [22]:
pm_names=[]
pm_names15=[]
pm_names16=[]
pm_dob=[]
pm_tof=[]
pm_remarks=[]

In [32]:
names_tags=driver9.find_elements(By.XPATH,'//td[@style="width: 150px; height: 80px;"]') # find elements is used to scrap more than one element.# Relative XPATH
for i in names_tags:
    pmnames=i.text
    pm_names.append(pmnames) # //tag[@class='class name']

# scraping the Job location from the given page
dob_tags=driver9.find_elements(By.XPATH,'//td[@style="width: 105px; height: 80px;"]') # find elements is used to scrap more than one element.
for i in dob_tags:
    pmdob=i.text
    pm_dob.append(pmdob)
    
# scraping the company name from the given page
tof_tags=driver9.find_elements(By.XPATH,'//td[@style="width: 256px; height: 80px;"]') # find elements is used to scrap more than one element.
for i in tof_tags:
    pmtof=i.text
    pm_tof.append(pmtof)
    
remarks_tags=driver9.find_elements(By.XPATH,'//td[@style="width: 145px; height: 80px;"]') # find elements is used to scrap more than one element.
for i in remarks_tags:
    pmremarks=i.text
    pm_remarks.append(pmremarks)

In [16]:
pm_names

['Gulzarilal Nanda (Acting)',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Charan Singh',
 'Rajiv Gandhi',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Manmohan Singh']

In [20]:
names_tags15=driver9.find_elements(By.XPATH,'//td[@style="width: 150px; height: 121px;"]') # find elements is used to scrap more than one element.# Relative XPATH
for i in names_tags15:
    pmnames15=i.text
    pm_names15.append(pmnames15)

In [21]:
pm_names15

['Jawahar Lal Nehru', 'Lal Bahadur Shastri']

In [24]:
pm_names16

['Morarji Desai', 'Atal Bihari Vajpayee', 'Narendra Modi']

In [33]:
pm_dob

['(1898-1998)',
 '(1898-1998)',
 '(19171984)',
 '(19021987)',
 '(19441991)',
 '(19212004)',
 '(1924- 2018)',
 '(born 1933)',
 '(19192012)',
 '(born 1932)']

In [34]:
pm_tof

['27 May 1964 to 9 June 1964,\n13 days',
 '11 January 1966 to 24 January 1966\n13 days',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 '28 July 1979 to 14 January 1980\n170 days',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 '16 May 1996 to 1 June 1996\n16 days',
 '1 June 1996 to 21 April 1997\n324 days',
 '21 April 1997 to 19 March 1998 \n332 days',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days']

In [35]:
pm_remarks

['First acting PM of India',
 '-',
 'First female Prime Minister of India',
 'Only PM who did not face the Parliament',
 'Youngest to become PM (40 years old)',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' First Sikh PM']

In [36]:
df9=pd.DataFrame({'Name':pm_names,'Born-Dead':pm_dob,'Term of office':pm_tof,'Remarks':pm_remarks})
df9

,Name,Born-Dead,Term of office,Remarks
0,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
1,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
2,Indira Gandhi,(19171984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
3,Charan Singh,(19021987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
4,Rajiv Gandhi,(19441991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
5,P. V. Narasimha Rao,(19212004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
6,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
7,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
8,Inder Kumar Gujral,(19192012),21 April 1997 to 19 March 1998 \n332 days,------
9,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM

### Answer No.10

In [37]:
# first connect with the driver
driver10=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32 (3)\chromedriver.exe")# first connect with the driver

In [38]:
driver10.get("https://www.motor1.com/")

In [41]:
features=driver10.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]') 
features.click()

In [42]:
button=driver10.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/a') 
button.click()

In [44]:
buttonpage=driver10.find_element(By.XPATH,'/html/body/div[3]/div[7]/div/div[1]/div[1]/div[2]/div/div[1]/h3/a') 
buttonpage.click()

In [80]:
car_names=[]
car_price=[]

In [81]:
car_names_tags=driver10.find_elements(By.XPATH,'//h3[@class="subheader"]') # find elements is used to scrap more than one element.# Relative XPATH
for i in car_names_tags:
    pmnames25=i.text
    car_names.append(pmnames25)  # //tag[@class='class name']

In [82]:
car_names

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profile',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Most Expensive Cars In The World']

In [83]:
car_price_tags=driver10.find_elements(By.XPATH,"//strong") # find elements is used to scrap more than one element.
for i in car_price_tags:
    pmdob26=i.text
    car_price.append(pmdob26)

In [84]:
car_price

['Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 '',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $28.0 Million (est.)']

In [85]:
len(car_names)

51

In [86]:
len(car_price)

51

In [87]:
df10=pd.DataFrame({'Car name':car_names,'Car Price':car_price})
df10

                            Car name                    Car Price
0                      De Tomaso P72          Price: $1.3 Million
1                  Ferrari LaFerrari          Price: $1.4 Million
2                      Pagani Huayra          Price: $1.4 Million
3                       McLaren Elva
4                        Czinger 21C          Price: $1.7 Million
5                      Ferrari Monza          Price: $1.7 Million
6                 Gordon Murray T.33          Price: $1.7 Million
7                  Koenigsegg Gemera          Price: $1.7 Million
8                        Zenvo TSR-S          Price: $1.7 Million
9                 Hennessey Venom F5          Price: $1.7 Million
10                   Bentley Bacalar          Price: $1.8 Million
11     Hispano Suiza Carmen Boulogne          Price: $1.9 Million
12            Bentley Mulliner Batur          Price: $1.9 Million
13                      Deus Vayanne          Price: $2.0 Million
14                       SSC Tuatara          Price: $2.0 Million
15                       Lotus Evija         Price: $2.0 Million*
16               Aston Martin Vulcan          Price: $2.1 Million
17                        Delage D12          Price: $2.3 Million
18                 McLaren Speedtail          Price: $2.3 Million
19                      Rimac Nevera          Price: $2.3 Million
20                     Pagani Utopia          Price: $2.4 Million
21              Pininfarina Battista          Price: $2.5 Million
22                 Ferrari FXX K Evo          Price: $2.5 Million
23                Gordon Murray T.50          Price: $2.6 Million
24              Lamborghini Countach          Price: $2.6 Million
25          Mercedes-AMG Project One          Price: $2.6 Million
26               Aston Martin Victor          Price: $2.7 Million
27       Hennessey Venom F5 Roadster          Price: $3.0 Million
28                  Koenigsegg Jesko                 $3.0 Million
29             Aston Martin Valkyrie          Price: $3.0 Million
30         W Motors Lykan Hypersport          Price: $3.2 Million
31                     McLaren Solus          Price: $3.4 Million
32         Pagani Huayra Roadster BC                 $3.5 Million
33          Bugatti Chiron Pur Sport          Price: $3.5 Million
34                  Lamborghini Sian          Price: $3.6 Million
35                  Koenigsegg CC850          Price: $3.6 million
36   Bugatti Chiron Super Sport 300+          Price: $3.7 Million
37                Lamborghini Veneno          Price: $3.9 Million
38                    Bugatti Bolide          Price: $4.5 Million
39                   Bugatti Mistral          Price: $4.7 Million
40               Pagani Huayra Imola          Price: $5.0 Million
41                      Bugatti Divo          Price: $5.4 Million
42               SP Automotive Chaos          Price: $5.8 Million
43                  Pagani Codalunga          Price: $6.4 Million
44          Mercedes-Maybach Exelero          Price: $7.4 Million
45                Bugatti Centodieci          Price: $8.0 Million
46           Bugatti Chiron Profile          Price: $9.0 Million
47              Rolls-Royce Sweptail         Price: $10.8 Million
48          Bugatti La Voiture Noire         Price: $12.8 Million
49            Rolls-Royce Boat Tail*         Price: $13.4 Million
50  Most Expensive Cars In The World  Price: $28.0 Million (est.)